@mixin effect {
    -webkit-background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}