$color-primary-light:#009432;
$color-primary-dark:#006266;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-1: #dee2e4;
$color-grey-dark-2: rgb(126, 122, 122);
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;